@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
.App {
  text-align: center;
}

body{
  box-sizing: border-box;
}
.title{
  font-family: 'Orbitron', sans-serif;
  margin: 50px;
  letter-spacing: 2.75px;
  color: #fff;
}
.card img{
  height: 300px;
}
.card{
  width: 500px;
  margin: 30px;
}
.card:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}